.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 400px;

  .space {
    display: flex;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
      filter: brightness(.8);
    }
  }

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .description {
    display: flex;
    margin-top: 10px;
    height: 10rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 0.5rem;

  span {
    color: var(--blue-500);
  }

  a {
    background: var(--blue-500);
    text-decoration: none;
    transition: filter 0.2s;
    color: var(--white);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    &:hover {
      filter: brightness(0.8);
    }
  }
}


